@import "~bootstrap/scss/bootstrap-grid.scss";

.text-area {
  display: flex;
  width: 40vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  float: left;
  animation: text 1s ease-out 1050ms both;

  &.aboutme {
    width: 50vw;
  }
}

.text-area-heading {
  font-family: "Sora", sans-serif;
  text-align: left;
  font-weight: 900;
  color: white;
}

.anchor {
  cursor: pointer;
  color: white;

  &:hover {
    color: white;
    &::after {
      width: 100%;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 6px;
    background: #ffffff;
    transition: width 0.3s;
  }
}

@keyframes text {
  0% {
    display: block;
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@include media-breakpoint-down(lg) {
  .text-area {
    width: 100vw;
    height: 50vh;
    top: unset;
    bottom: 0;
  }
}
