@import "~bootstrap/scss/bootstrap-grid.scss";

.media {
  //background-image: url(http://localhost:5000/portfolio/wait.png);
  //background-position: bottom;
  //background-color: #e9a291;
  //background: linear-gradient(0deg, #ffc487 50%, #d3e5e7 50%);
  //background: linear-gradient(0deg, #ffc487 36%, #ffd9be 36%);
  //background: linear-gradient(0deg, #ffad58 36%, #ffd9be 36%);
  //background: linear-gradient(0deg, #ffb567 36%, #ffd9be 36%);
  //background: linear-gradient(0deg, #fcb994 36%, #ffd9be 36%);
  background: linear-gradient(0deg, #fcb994 36%, #ffe5d2 36%);

  display: flex;
  width: 60vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  border-bottom-left-radius: 62%;
  animation: background-two 650ms ease-in-out;
  overflow: hidden;

  &.-change {
    animation: swap 1.5s ease-in-out forwards;
  }

  &.experience {
    animation: hideIllustration 1.5s ease-in-out forwards;
  }

  @keyframes hideIllustration {
    0% {
      transform: translate(0%, 0%);
    }
    50% {
      transform: translate(100%, -100%);
    }
    80% {
      background: transparent;
    }
    100% {
      transform: translate(0%, 0%);
      z-index: -1;
    }
  }

  .main-illustration {
    height: 80%;
    pointer-events: none;
    margin: 0;
    position: absolute;
    bottom: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: illustration 400ms ease-in-out 650ms both;
    transition: height 750ms ease-out;
    filter: drop-shadow(8px 0px 5px rgb(0 0 0 / 0.05));

    &.-hide {
      height: 0;
    }
  }

  // Don't sue me but I developed the desktop version first
  @include media-breakpoint-down(lg) {
    width: 100vw;
    height: 50vh;

    .main-illustration {
      top: 51%;
      height: 100%;
      left: 50%;
    }

    @keyframes swap {
      0% {
        transform: translate(0%, 0%);
      }
      50% {
        transform: translate(100%, -100%);
      }
      80% {
        background: transparent;
      }
      100% {
        transform: translate(0%, 0%);
        border-bottom-left-radius: 0;
        /*  border-top-right-radius: 62%; */
        background: transparent;
        width: 100vw;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    @keyframes swap {
      0% {
        transform: translate(0%, 0%);
      }
      50% {
        transform: translate(100%, -100%);
      }
      80% {
        background: transparent;
      }
      100% {
        transform: translate(0%, 0%);
        border-bottom-left-radius: 0;
        /*  border-top-right-radius: 62%; */
        background: transparent;
        width: 50vw;
      }
    }
  }

  @keyframes illustration {
    0% {
      opacity: 0;
      scale: 0.9;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes background-two {
    0% {
      transform: translate(100%, -100%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }

  .aboutme {
    transition: height 2s ease-in-out;
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    opacity: 0;
    transition: opacity 5s ease-in-out;

    .one {
      background-image: url("http://localhost:5000/portfolio/me.webp");
    }

    .two {
      background-image: url("http://localhost:5000/portfolio/Hallstatt.jpg");
    }

    .three {
      background-image: url("http://localhost:5000/portfolio/Porto.webp");
    }

    .four {
      background-image: url("http://localhost:5000/portfolio/Concarneau.webp");
    }

    .five {
      background-image: url("http://localhost:5000/portfolio/Stockholm.webp");
    }

    .six {
      background-image: url("http://localhost:5000/portfolio/Stockholm2.webp");
    }

    .seven {
      background-image: url("http://localhost:5000/portfolio/Stockholm3.webp");
    }

    .eight {
      background-image: url("http://localhost:5000/portfolio/Stockholm4.webp");
    }

    .nine {
      background-image: url("http://localhost:5000/portfolio/Rosendal.webp");
    }

    .ten {
      background-image: url("http://localhost:5000/portfolio/Rosendal2.webp");
    }

    .copenhagen {
      background-image: url("http://localhost:5000/portfolio/Copenhagen.webp");
    }

    .luxembourg {
      background-image: url("http://localhost:5000/portfolio/Luxembourg.webp");
    }
    .seville {
      background-image: url("http://localhost:5000/portfolio/seville2.webp");
    }
    .ronda {
      background-image: url("http://localhost:5000/portfolio/ronda.webp");
    }
    .cordoba {
      background-image: url("http://localhost:5000/portfolio/cordoba.webp");
    }
    .bilbao {
      background-image: url("http://localhost:5000/portfolio/bilbao.webp");
    }
    .ireland {
      background-image: url("http://localhost:5000/portfolio/ireland.webp");
    }

    .slick-slider {
      div {
        &:focus {
          outline: 0;
        }
      }
    }

    .slider .slide:last-child {
      border-right: none;
    }

    .images {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      box-sizing: border-box;
      position: relative;
      height: 100vh;
      width: 50vw;
      display: block;
      @include media-breakpoint-down(lg) {
        width: 100vw;
        height: 40vh;
      }
    }

    &.-show {
      opacity: 1;
      transition: opacity 750ms ease-in-out;
      transition-delay: 1.5s;
    }
    &.-hide {
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      transition-delay: 0s;
    }
    /*     .slick-slide {
      opacity: 0;
      transition: opacity 5s ease-in-out;
    }
    &.-show {
      height: 100vh;
      .slick-slide img {
        height: 100vh;
        width: 100%;
        opacity: 1;
        transition: opacity 750ms ease-in-out;
        transition-delay: 1.5s;
      }
    } */

    .slick-list {
      height: 100vh;
      @include media-breakpoint-down(lg) {
        height: 40vh;
      }
    }

    .slick-arrow {
      z-index: 300;
      &.slick-prev {
        left: 32px;
        width: 40px;
        height: 40px;
        &::before {
          font-size: 40px;
        }
        &:focus {
          opacity: 0.75;
        }
        &:hover {
          opacity: 1;
        }
      }
      &.slick-next {
        right: 32px;
        width: 40px;
        height: 40px;
        &::before {
          font-size: 40px;
        }
        &:focus {
          opacity: 0.75;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

/* .slick-slide div {
  outline: none !important;
}

.slick-slide {
  outline: 8px ridge rgba(170, 50, 220, 0.6) !important;
  border-radius: 2rem;
}

.slick-slide:focus {
  outline: none !important;
}

.slick-slide,
.slick-slide:focus * {
  outline: none !important;
}

.slick-active {
  outline: none !important;
}

.slick-slide {
  outline: none !important;
}
.slick-slide:active {
  outline: none !important;
} */
